/* Navbar styles */
.navbar {
    color:whitesmoke;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    border: 2px solid gray;
    height: 50px;
    margin-top: 0; /* Remove any margin from the top */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray
  }
  
  /* Navbar links */
  .navbar a {
    color: whitesmoke;
    margin: 0 20px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }
  
  /* Navbar hover effect */
  .navbar a:hover {
    text-decoration: underline;
    color: black;
  }
  